# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
dist/
build/

# Misc
.DS_Store
*.log
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
shared/types/*.js
